body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.logo {
  font-weight: bold;
  padding: 5px 10px;
  max-height: 60px;
  max-width: auto;
}

.menu {
  font-size: 24px;
}

.red-section {
  background: linear-gradient(90deg, #DFC5B6 -30%, #FF5967 100%);
  color: white;
  text-align: center;
  padding: 20px 10px 0 10px;
  position: relative;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 10px 0;
	position: relative;
}

.circle {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}

.star {
  color: blue;
}

.pulse-svg-wrapper {
  padding-top: 20px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.pulse-svg {
  padding-top: 20px;
  display: block;
  width: 20%;
  height: 100%;
}

.pulse-line {
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.1);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}



.content {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 5px 5px 5px 0.5px grey;
  }
  50% {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 6px 6px 10px 1px rgba(128, 128, 128, 0.5);
  }
  100% {
    transform: translateY(0) scale(1);
    box-shadow: 5px 5px 5px 0.5px grey;
  }
}

.btn {
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  background-color: #FF5967;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  border: none;
  margin-top: 10px;
  margin-right: 20px;
  width: calc(100% - 40px);
  box-shadow: 5px 5px 5px 0.5px grey;
  transition: background-color 0.3s ease;
  animation: pulse 2s infinite ease-in-out;
}

.btn:hover {
  background-color: #FF5967;
  transform: translateY(-2px);
  box-shadow: 5px 5px 5px 0.5px grey;
  color: grey;
  transition: ease-in 0.1s;
}

.contact {
  border-radius: 8px;
  margin-top: 20px;
  background-color: #FF5967;
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px 0.5px grey;
}

.text-box {
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 0.5px grey;
  background: rgb(243, 243, 243);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
	margin-left: -15px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
	background-color: white;
}

.profile-pic:first-child {
	margin-left: 0;
}

.profile-pic:hover {
	transform: scale(1.05);
	z-index: 1;
}

.star-pic {
  border-color: blue;
}

#menu-toggle {
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 35px;
  cursor: pointer;
  z-index: 1000;
  background-color: transparent;
  border: none;
}

#nav-menu {
  position: absolute;
  top: 80px; 
  right: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  display: none;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 8px;
}

#nav-menu.active {
  text-decoration: none;
  display: block;
}

#nav-menu ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu li {
  text-decoration: none;
  margin: 10px 0;
}

.long-text {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: left;
  width: calc(100% - 80px);
  margin-left: 24px;
}

.highlight {
  color: red;
}

.faq-section {
  margin-top: 20px;
  background: rgb(243, 243, 243);
  padding: 30px;
  border-radius: 12px;
  max-width: 100%;
  font-family: sans-serif;
  border-color: #333;
  box-shadow: 5px 5px 5px 0.5px grey;
}

.faq-section h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.faq-section h2 span {
  color: red;
  border-bottom: 2px solid red;
}

.accordion-item {
  border-top: 1px solid #ddd;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  color: #333;
}

.accordion-header::before {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: transform 0.3s;
}

.accordion-header.active::before {
  content: '-';
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #fff;
  padding: 0 20px;
}

.accordion-content p {
  padding: 10px 0;
  margin: 0;
  color: #555;
}

.site-footer {
  flex: 1;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  height: 100px;
  padding: 10px;
}


.site-footer a {
  color: white;
  text-decoration: underline;
  margin-top: 20px;
}

.noline {
  text-decoration: none;
  color: black
}

.site-footer-i {
  margin-top: 250px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  text-decoration: none;
  color: white !important;
  text-align: center;
  font-size: 0.9rem;
  height: 100px;
  padding: 10px;
  z-index: 1000;
}

.site-footer-k {
  margin-top: 600px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  text-decoration: none;
  color: white !important;
  text-align: center;
  font-size: 0.9rem;
  height: 100px;
  padding: 10px;
  z-index: 1000;
}


.white {
  color: white;
}

.fett {
  font-weight: 800;
  text-decoration: underline;
}

.haken {
  color: rgb(0, 180, 0);
  font-weight: 900;
}

.verified-badge {
  width: 24px;
  height: 24px;
  margin-left: -10px;
}

.verified-badge img {
  width: 100%;
  height: 100%;
}

.red-text {
  color: red;
}

.underline {
  text-decoration: underline;
}